/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

/* 
Ctrl + D
Alt + Shitf + L
>
Alt + shitf + >
 */

 
#main {

}

#header {
    height: 46px;
    background-color: black;
}

#nav li {
    display: inline-block;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:inline-block;
}

#nav li:hover a {
    color: #fff;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
}

#slider {

}

#content {

}

#footer {

}
